In [5]:
import os
import json
import urllib3

http = urllib3.PoolManager()

In [6]:
response = http.request(
     'GET',
     'http://0.0.0.0:5000',
     headers={'Content-Type': 'application/json'})

response = json.loads(
    response.data.decode('utf-8'))

response

{'version': '1.0.0'}

In [9]:
body = {
    'order_id': 123,
    'store_id': 123,
    'to_user_distance': 0.0,
    'to_user_elevation': 0.0,
    'total_earning': 10000,
    'created_at': '2020-09-07T20:02:17Z'}

response = http.request(
    'POST',
    'http://0.0.0.0:5000/score',
    body=json.dumps(body).encode('utf-8'),
    headers={'Content-Type': 'application/json'})

response = json.loads(
    response.data.decode('utf-8'))

response

{'execution_time': 0.023512601852416992,
 'order_id': 123,
 'store_id': 123,
 'version': '1.0.0',
 'x': '{"store_id": NaN, "to_user_distance": 0.0, "to_user_elevation": 0.0, "total_earning": 10000.0, "weekday": 0.9083583369052722}',
 'x_raw': '{"order_id": "123", "store_id": "123", "to_user_distance": 0.0, "to_user_elevation": 0.0, "total_earning": 10000.0, "created_at": "2020-09-07 20:02:17+00:00", "weekday": "Monday"}',
 'y_score': 0.31567850708961487}

# Ensure that the response was saved on the DB

In [10]:
import pandas as pd

from sqlalchemy import create_engine

engine = create_engine('mysql://root:rappi-secret@0.0.0.0:5001/rappi?charset=utf8')

data = pd.read_sql('SELECT * FROM model_response', engine)
data

,id,created_at,order_id,store_id,y_score,x_raw,x,execution_time,version
0,1,2020-11-09 03:11:16,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.020309,1.0.0
1,2,2020-11-09 03:13:24,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.021900,1.0.0
2,3,2020-11-09 03:15:07,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.016775,1.0.0
3,4,2020-11-09 03:15:55,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.020894,1.0.0
4,5,2020-11-09 03:19:01,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.024954,1.0.0
5,6,2020-11-09 03:21:24,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.015487,1.0.0
6,7,2020-11-09 03:22:03,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.013400,1.0.0
7,8,2020-11-09 03:24:21,1,2,0.315679,"{""order_id"": ""1"", ""store_id"": ""2"", ""to_user_di...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.020568,1.0.0
8,9,2020-11-09 03:24:33,123,123,0.315679,"{""order_id"": ""123"", ""store_id"": ""123"", ""to_use...","{""store_id"": NaN, ""to_user_distance"": 0.0, ""to...",0.023513,1.0.0